<section class="container">
  <h1>Overview</h1>
  <p>SPS Angular UI Components library is created for Angular JS developers. SPS Angular Components are reusable UI components that helps in constructing attractive, consistent, and functional web pages and web applications while adhering to modern web design principles like browser portability, device independence, and graceful degradation.</p>
  <h2>Features</h2>
  <ul>
    <li>Responsive Designing</li>
    <li>SCSS Support</li>
    <li>Reusable web components with cross-browser support</li>
    <li>Minimal configuration</li>
  </ul>
</section>