<div class="container-fluid h-100">
  <div class="row h-100" id="main_container">
    <div class="col-md-3 h-100 bg-dark">
      <nav class="navbar navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="javascript:void(0)">SPS Components</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/spinner/overview" routerLinkActive="active-link">Spinner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/button/overview" routerLinkActive="active-link">Buttons</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-9 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>